{
  "extends": [
    "standard",
    "eslint:recommended",
    "react-app"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "globalThis": false
  },
  "parser": "babel-eslint",
  "rules": {
    "class-methods-use-this": [0],
    "import/extensions": [0],
    "import/no-extraneous-dependencies": [0],
    "import/no-named-as-default": [0],
    "import/no-unresolved": [0],
    "import/prefer-default-export": 0,
    "max-len": [2, { "code": 120 }],
    "no-negated-condition": 0,
    "require-atomic-updates": 0,
    "semi": ["error", "always"],
    "space-before-function-paren": [0]
  }
}
