.TableContainer {
  height: calc(100% - 4.5rem);
  overflow-y: auto;
}

.Table {
  div[class="ant-table-body"] {
    overflow-x: auto !important;
    overflow-y: hidden !important;
  }
}

.ResetCellStyle {
  text-align: right;
}

.PositiveValue {
  background-color: rgba(2, 192, 118, 0.5) !important;

  &[class~="ant-table-column-sort"] {
    background-color: rgb(2, 192, 118) !important;
  }
}

.NegativeValue {
  background-color: rgba(248, 73, 96, 0.5) !important;

  &[class~="ant-table-column-sort"] {
    background-color: rgb(248, 73, 96) !important;
  }
}

.TradingViewModal {
  width: auto !important;
}

.IntervalSelect {
  padding-left: 4px;
  width: 150px;
}
